<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Economystique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/economystiqueLogo.png') }}" alt="Economystique Logo">
        </div>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Plan</a></li>
        </ul>
        <button class="contact-button">Contact Us</button>
    </nav>
    <div class="hero">
        <h1>About Economystique</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aut natus eos, dolorem voluptatibus odio sapiente voluptatem doloribus quidem sunt autem nobis tempore at ducimus impedit ipsam laudantium voluptas quam.</p>
    </div>
</body>
</html>